{% extends "layout.html" %}

{% block body %}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title"><i class="fas fa-keyboard"></i> key high score</h3>
        <p class="key-score">{{ key_score }}</p>
        <p class="card-text">Today is the highest keyboard activity score. (score is per hour)</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title"><i class="fas fa-mouse"></i>  mouse high score</h3>
        <p class="mouse-score">{{ mouse_score }}</p>
        <p class="card-text">Today is the highest mouse activity score. (score is per hour)</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title"><i class="far fa-star"></i> favorite app</h3>
        <p class="app-name">{{ app_name }}</p>
        <p class="card-text">Apps you use most often today</p>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<h3 class="chart-title"><i class="fas fa-bolt"></i> Keyboard Activity</h3>
<div id="key_heatmap"></div>
<script>
  var key_series = {{ key_activity | tojson }}
  var colors = ['#4E88B4', '#33A1FD', '#18D8D8', '#46AF78', '#BAFF20', '#F3B415','#F27036', '#F24136']

  var options = {
    chart: {
      height: 450,
      type: 'heatmap',
    },
    dataLabels: {
      enabled: false
    },
    colors: colors,
    series: key_series,
    xaxis: {
      type: 'category',
      categories: ['00', '01', '02', '03', '04', '05',
                   '06', '07', '08', '09', '10', '11',
                   '12', '13', '14', '15', '16', '17',
                   '18', '19', '20', '21', '22', '23']
    },
    title: {
      text: 'Keyboard HeatMap'
    },
    grid: {
      padding: {
        right: 20
      }
    }
  }

  var chart = new ApexCharts(
    document.querySelector("#key_heatmap"),
    options
  );

  chart.render();
</script>

<h3 class="chart-title"><i class="fas fa-bolt"></i> Mouse Activity</h3>
<div id="mouse_heatmap"></div>
<script>
  var mouse_series = {{ mouse_activity | tojson }}
  var colors = ['#4E88B4', '#33A1FD', '#18D8D8', '#46AF78', '#BAFF20', '#F3B415','#F27036', '#F24136']

  var options = {
    chart: {
      height: 450,
      type: 'heatmap',
    },
    dataLabels: {
      enabled: false
    },
    colors: colors,
    series: mouse_series,
    xaxis: {
      type: 'category',
      categories: ['00', '01', '02', '03', '04', '05',
                   '06', '07', '08', '09', '10', '11',
                   '12', '13', '14', '15', '16', '17',
                   '18', '19', '20', '21', '22', '23']
    },
    title: {
      text: 'Keyboard HeatMap'
    },
    grid: {
      padding: {
        right: 20
      }
    }
  }

  var chart = new ApexCharts(
    document.querySelector("#mouse_heatmap"),
    options
  );

  chart.render();
</script>

{% endblock %}
